/* '게시물' 버튼 영역 */
#content > a {
    text-decoration: none;
}

#content > a > h3 {
    font-size: 20px;
    padding: 25px 18px;
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
    background: url("../icons/icon_left.png") no-repeat;
    background-size: 10px;
    background-position: left center;

    position: relative;
}

#content > a > h3::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dadada;
    left: 0;
    right: 0;
    bottom: -8px;
}

/* 컨텐츠 영역 */
#content > .content_container {
    flex-direction: column;
}

#content > .content_container > div {
    width: 100%;
}

/* 프로필 영역 */
#content > .content_container > div > .profile_box > div {
    margin-left: 6px;
}

#content > .content_container > div > .profile_box > img {
	border-radius: 50%;
}

#content > .content_container > div > .profile_box > div > span {
    font-size: 15px;
    color: black;
}

#content > .content_container > div > .profile_box > div > span:first-child {
    font-size: 16px;
}

#content > .content_container > div > .profile_box > div > span:last-child {
    margin-left: 6px;
}

/* 게시물 글 내용 영역 */
#content > .content_container > div > p::after {
    display: none;
}

#content > .content_container > div > p {
    line-height: 23px;
    margin-bottom: 30px;
}

/* 이미지 영역 */
#image_list {
    width: 700px;
    margin-left: 50%;
    margin-bottom: 30px;
    transform: translateX(-50%);
    position: relative;
    overflow: hidden;
}

/* 이미지 슬라이드 */
#image_list > ul {
    display: flex;
    width: 300%;
}

#image_list > ul > li > img {
    width: 700px;
}

#image_list > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: 40px;
    background: url("../icons/icon_left_image_list.png") no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    opacity: .5;
}

#image_list > button > span, #image_list > ol > li > span {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#image_list > button:nth-child(1) {
    left: 10px;

}

#image_list > button:nth-child(2) {
    right: 10px;
    background: url("../icons/icon_right_image_list.png") no-repeat;
    background-size: contain;
}

#image_list > ol {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

#image_list > ol > li {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: url("../icons/icon_indicator_circle.png") no-repeat;
    background-size: contain;
    opacity: .3;
}

#image_list > ol > li.on {
    opacity: .6;
}

#image_list > ol > li:not(:first-child) {
    margin-left: 4px;
}

/* 태그, 시간 영역 */
#content > .content_container > div > #tag_container {
    color: gray;
    display: flex;
    font-size: 14px;
    margin-bottom: 40px;
    position: relative;
}

#content > .content_container > div > #tag_container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dadada;
    left: 0;
    right: 0;
    bottom: -20px;
}

#content > .content_container > div > #tag_container > span {
    margin-left: auto;
}

#content > .content_container > div > .like_container {
    margin-bottom: 40px;
}

/* 좋아요 버튼 a 태그로 감쌈 (기존 스타일 - main_content.css) */
.content_container .like_container > div > a > span:first-child {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.content_container .like_container > div > a > span {
    margin-left: 23px;
}

/* 공유하기 버튼 */
.content_container .like_container > div:nth-child(3) {
    position: relative;
}
.content_container .like_container > div:nth-child(3) > div {
    display: none;
    width: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    left: 23px;
}

/* 댓글 쓰기 영역 */
#content > .content_container > div > form[id="comment_form"] {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    /* 경고창 위치기준 */
    position: relative;
}

#content > .content_container > div > form[id="comment_form"] > img {
    width: 60px;
    margin-right: 5px;
    object-fit: contain;
    border-radius: 50%;
}

#content > .content_container > div > form[id="comment_form"] > input {
    width: 72%;
    height: 60px;
    margin-right: 5px;
    box-sizing: border-box;
}

#content > .content_container > div > form[id="comment_form"] > button {
    width: 8%;
    height: 60px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 16.5px;
    color: #76c100;
    cursor: pointer;
}

#content > .content_container > div > form[id="comment_form"] > button:hover {
    color: #3d9929;
    font-weight: bold;
}

/* 댓글창 별점 선택 부분 */
.starpoint_wrap {
    display:inline-block;
}

.star_radio {
    display: flex;
    margin-left: auto;
    width: 98px;
    height: 18px;
    position:relative;
    background:url("../icons/star_five.png") 0 0 ;
    font-size:0;
}

.star_radio > .star_rate_bg {
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:18px;
    background:url("../icons/star_five.png") 0 -20px no-repeat;
    pointer-events:none;
}

.star_radio > .label_star {
    display:inline-block;
    width:10px;
    height:18px;
    box-sizing:border-box;
    cursor: pointer;
}

.star_radio > input[name="star_rate"] {
    opacity:0;width:0;height:0;position:absolute;
}

.star_radio > input[name="star_rate"]:nth-of-type(1):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(1):checked ~ .star_rate_bg {width:10%;}

.star_radio > input[name="star_rate"]:nth-of-type(2):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(2):checked ~ .star_rate_bg {width:20%;}

.star_radio > input[name="star_rate"]:nth-of-type(3):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(3):checked ~ .star_rate_bg {width:30%;}

.star_radio > input[name="star_rate"]:nth-of-type(4):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(4):checked ~ .star_rate_bg {width:40%;}

.star_radio > input[name="star_rate"]:nth-of-type(5):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(5):checked ~ .star_rate_bg {width:50%;}

.star_radio > input[name="star_rate"]:nth-of-type(6):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(6):checked ~ .star_rate_bg {width:60%;}

.star_radio > input[name="star_rate"]:nth-of-type(7):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(7):checked ~ .star_rate_bg {width:70%;}

.star_radio > input[name="star_rate"]:nth-of-type(8):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(8):checked ~ .star_rate_bg {width:80%;}

.star_radio > input[name="star_rate"]:nth-of-type(9):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(9):checked ~ .star_rate_bg {width:90%;}

.star_radio > input[name="star_rate"]:nth-of-type(10):hover ~ .star_rate_bg,
.star_radio > input[name="star_rate"]:nth-of-type(10):checked ~ .star_rate_bg {width:100%;}

/* 댓글 영역 */
#content > .content_container > div > .comment_box > .profile_box > div {
    flex-direction: column;
    align-items: first baseline;
    margin: 0 0 18px 12px;
}

.content_container > div > .comment_box > div::after {
    bottom: 0px;
}

#content > .content_container > div > .comment_box > .profile_box > a > img {
	border-radius: 50%;
	width: 45px;
    height: 45px;
}

#content > .content_container > div > .comment_box > .profile_box > div > div:first-child {
    margin-bottom: 10px;
}

#content > .content_container > div > .comment_box > .profile_box > div > div:first-child > span:nth-child(1) {
    font-weight: 600;
}

#content > .content_container > div > .comment_box > .profile_box > div > div:first-child > span:nth-child(2),
#content > .content_container > div > .comment_box > .profile_box > div > div:first-child > span:nth-child(3)
{
    font-size: 14px;
}

#content > .content_container > div > .comment_box > .profile_box > div > div:first-child > span:nth-child(3) {
    margin-left: 40px;
    color: gray;
}

#content > .content_container > div > .comment_box > .profile_box > div > span {
    margin: 0;
    font-size: 15px;
    color: black;
    line-height: 19px;
    margin-bottom: 10px;
}

#content > .content_container > div > .comment_box > .profile_box > div > div > a > span {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* 댓글 ... 메뉴 */
#content > .content_container > div > .comment_box > .profile_box > div > div > .comment_menu {
    position: absolute;
    background: url("../icons/ellipsis-solid.svg") no-repeat center;
    right: 0;
    top: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

#content > .content_container > div > .comment_box > .profile_box > div > div > .comment_menu > span {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#content > .content_container > div > .comment_box > .profile_box > div > div > .comment_menu > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 35px;
    white-space: nowrap;
    border: 1px solid #dadada;
    border-radius: 5px;
    color: #ff335a;
    padding: 5px 0;
}

#content > .content_container > div > .comment_box > .profile_box > div > div > .comment_menu > ul > li {
    padding: 10px 20px;
}

#content > .content_container > div > .comment_box > .profile_box > div > div > .comment_menu > ul > li:nth-child(2) {
    color: black;
}

#content > .content_container > div > .comment_box > .profile_box > div > div > .comment_menu > ul > li:hover {
    font-weight: bold;
}

/* 스크롤 위로 올리기 버튼 */
#top_button {
    position: fixed;
    right: 385px;
    bottom: 30px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #76c100;
    border: none;
    background-color: transparent;
}

#top_button:hover {
    color: #3d9929;
}